 
 











body {
    
   background-image: url("../img/checkers.jpg");

    
   
    
  }
  .container {
    color: #d32424;
    background-image: url("../img/Fiveguys.jpg"); 
    background-size: 50%;
    background-repeat: no-repeat;
    background-color: white;
    background-position: top;
    background-position-x: right;
  }
 
  